# Python
src/scanners/__pycache__/
src/ai/__pycache__/
src/reporting/__pycache__/
src/__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/

# IDE
.vscode/
.idea/

# Reports, temp, logs
outputs/
*.log
*.db
*.sqlite
logs/

# Environment/config
.env

# System files
.DS_Store
Thumbs.db